// the header has 3 parts:
// the dropdown
// the date selector
// the export buttons

//variables
$red: #b2001d
$white: #fff
$dark-grey: #333
$medium-grey: #898989

//header
header
  height: 4.4rem
  width: 100%
  background-color: $dark-grey
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  
  .viewSelectBtns
    margin-left: 0.5rem
  
  .viewSelectBtn 
    display: inline
    color: $white
    background-color: $dark-grey
    border: none
    &:hover
      color: $red
    &.active
      color: $red


  
// Date selector stuff
.headerDateSelector
  flex: 10
  margin-left: 3.125rem
  color: $white
  height: 100%
  display: flex
  background-color: $dark-grey

.headerFlexContainer
  width: 28.125rem
  height: 100%
  display: flex
  flex-direction: column
  justify-content: center
  align-items: stretch

.headerCalNavYear 
  flex: 1
  margin-top: 0.3125rem
  align-self: center
  font-size: 1.2rem
  button
    text-decoration: none
    color: $white
    background-color: $dark-grey
    border: none
    margin-right: 0.3125rem
    margin-left: 0.3125rem
    &:hover 
      color: $red

.headerCalNavMonth 
  flex: 3
  margin-top: 0.3125rem
  padding: 0
  display: flex
  flex-direction: row
  justify-content: center
  align-items: stretch
  li 
    list-style-type: none
    margin-left: 0.625rem
    flex: 1
    text-align: center
  li a 
    display: block
    text-decoration: none
    font-family: 'Roboto Mono', monospace
    font-size: 1.1rem
    border-width: medium
    border-style: solid
    border-radius: 50%
    &:hover 
      color: $red
      border-color: $red

.headerCalCircleColor 
  color: $white
  border-color: $white

.headerCalCircleColorActive 
  color: $red
  border-color: $red

.headerCalCircleColorPast 
  color: $medium-grey
  border-color: $medium-grey
  
  
  
  
// export button stuff
.headerExportBtns
  flex: 1
  height: 100%
  display: flex
  padding-right: 1.25rem
  justify-content: flex-end
  align-items: center

.headerExportBtn
  display: inline
  margin-left: 0.625rem
  color: $white
  background-color: $dark-grey
  border: none
  &:hover 
    color: $red