//variables
////colors
$red: #b2001d
$white: #fff
$black: #000
$dark-grey: #333
$medium-grey: #898989
$light-grey: #dddddd
$olive-black: #19200E
$dark-olive: #33401C
$olive: #556B2F
$light-olive: #88976D
$olive-grey: #EEF0EA
$beans: #3d0000
$dark-ruby: #8f0000
$ruby: #CD0000
$light-ruby: #dc4c4c
$vashti: #fae5e5
$weekend-blue: #eaf7ff
$more-blue: #1361dd

.classicAside
  flex-basis: 19rem
  background-color: $white
  display: inline-block
  height: 55.6rem
  border: 0.0625rem solid $light-grey
  border-top: none

.classicSupportingInfo
  background-color: $white
  position: relative
  height: 55.6rem
  overflow: auto
  min-height: min-content

.switchBtn 
  width: 100%
  height: 3rem
  border: 0.0625rem solid $medium-grey
  background-color: $light-grey
  color: $dark-olive
  text-align: left
  font-size: 1.2em
  i
    font-size: 0.8rem
    right: 0.8rem
    float: right
    margin-top: 0.3rem
    transition: all .35s ease-in-out
    transform: rotate(180deg)
    &.rotated
      transform: rotate(0deg)
  &:hover 
    color: $light-ruby

.shiftComponent
  height: 11.5rem
  transition: height .25s ease-in-out
  overflow: hidden
  &.closed
    height: 0
  ul
    list-style-type: none
    margin: 0
    padding: 0
    li
      display: inline

.shiftBtn
  height: 2rem
  background-color: $olive-grey
  border: none
  margin: 0.12rem 0.12rem 0.12rem
  &.active 
    background-color: $light-ruby
    font-size: 1.1rem
  &:hover
    background-color: $light-ruby
  &.none 
          display: none

.conflictsComponent
  height: 12rem
  transition: height .25s ease-in-out
  overflow: hidden
  &.closed
    height: 0

.conflictsList
  margin: 0
  padding: 5px
  list-style-type: none

.conflictsListItem
  height: 3rem
  margin-top: 0.3rem

.conflictsListLabel
  color: $light-olive
  font-style: italic
  margin-right: 0.4rem
  
.statsComponent
  height: 12rem
  transition: height .25s ease-in-out
  overflow: hidden
  &.closed
      height: 0

.statsList
  margin: 0
  padding: 5px
  list-style-type: none

.statsListItem
  height: 1.8rem
  margin-top: 0.3rem

.statValue
  float: right
  font-size: 1.2rem
  color: $light-olive

.notesComponent
  border-top: 0.0625rem solid $light-grey
  position: relative

.notesHeader
  margin: none
  padding: none
  text-align: center

.noteListArea
  height: 100%
  min-height: min-content

.noteItem
  margin-left: 5px
  margin-bottom: 8px
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: center
  &:hover
    background-color: $olive-grey
    .exitIcon
      display: inline
      color: $light-olive
      &:hover
        color: $red

.noteLabel
  flex: 2
  color: $light-olive
  font-style: italic

.noteBody
  flex: 9

.noteCloseIcon
  flex: 1

.noteFormArea
  height: 7rem
  bottom: 3px
  width: 100%

.addNoteForm
  margin-left: 10px
  text-align: center
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-content: center
  align-items: center
  textarea
    margin: 0
    padding: 0
    border: 0.0625rem solid $light-grey
    border-radius: 5px
    border-top-right-radius: 0
    border-bottom-right-radius: 0
    border-right: none
    resize: none
  .noteSubmitButton
    margin: 0
    padding: 0 5px 0 0
    height: 109px
    background-color: $white
    border: 0.0625rem solid $light-grey
    border-radius: 5px
    border-left: none
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    color: $light-grey
    font-size: 1.4rem
    &:hover
      color: $light-olive