html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

body {
  margin: 0;
  padding: 0;
  height: 90rem;
  width: 94rem;
  background-color: #fff;
}

section, aside {
  margin: 0;
  padding: 0;
}

main {
  height: 85.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

header {
  height: 4.4rem;
  width: 100%;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
header .viewSelectBtns {
  margin-left: 0.5rem;
}
header .viewSelectBtn {
  display: inline;
  color: #fff;
  background-color: #333;
  border: none;
}
header .viewSelectBtn:hover {
  color: #b2001d;
}
header .viewSelectBtn.active {
  color: #b2001d;
}

.headerDateSelector {
  flex: 10;
  margin-left: 3.125rem;
  color: #fff;
  height: 100%;
  display: flex;
  background-color: #333;
}

.headerFlexContainer {
  width: 28.125rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.headerCalNavYear {
  flex: 1;
  margin-top: 0.3125rem;
  align-self: center;
  font-size: 1.2rem;
}
.headerCalNavYear button {
  text-decoration: none;
  color: #fff;
  background-color: #333;
  border: none;
  margin-right: 0.3125rem;
  margin-left: 0.3125rem;
}
.headerCalNavYear button:hover {
  color: #b2001d;
}

.headerCalNavMonth {
  flex: 3;
  margin-top: 0.3125rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
.headerCalNavMonth li {
  list-style-type: none;
  margin-left: 0.625rem;
  flex: 1;
  text-align: center;
}
.headerCalNavMonth li a {
  display: block;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  border-width: medium;
  border-style: solid;
  border-radius: 50%;
}
.headerCalNavMonth li a:hover {
  color: #b2001d;
  border-color: #b2001d;
}

.headerCalCircleColor {
  color: #fff;
  border-color: #fff;
}

.headerCalCircleColorActive {
  color: #b2001d;
  border-color: #b2001d;
}

.headerCalCircleColorPast {
  color: #898989;
  border-color: #898989;
}

.headerExportBtns {
  flex: 1;
  height: 100%;
  display: flex;
  padding-right: 1.25rem;
  justify-content: flex-end;
  align-items: center;
}

.headerExportBtn {
  display: inline;
  margin-left: 0.625rem;
  color: #fff;
  background-color: #333;
  border: none;
}
.headerExportBtn:hover {
  color: #b2001d;
}

.gridSection {
  flex-basis: 75rem;
  height: 100%;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.gridHeaderRow {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-left: 0.0625rem solid #eeeeee;
}

.gridRow {
  flex: 5;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 0.0625rem solid #eeeeee;
  border-left: 0.0625rem solid #eeeeee;
}

.gridHeaderCell {
  flex: 1;
  text-align: left;
  border-right: 0.0625rem solid #eeeeee;
  height: 100%;
}

.gridCell {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-right: 0.0625rem solid #eeeeee;
}

.gridNum {
  padding: 0.125rem;
}

.gridEvent {
  background-color: teal;
  color: #fff;
  text-align: left;
  width: 90%;
  padding: 0.125rem;
  border-radius: 0.2rem;
  margin-top: 0.2rem;
}

.classicGridSection {
  flex-basis: 75rem;
  height: 100%;
  display: inline-block;
  border-bottom: 0.0625rem solid #eeeeee;
  border-left: 0.0625rem solid #eeeeee;
}

.classicGrid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.classicGridDateCol {
  width: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 0.0625rem solid #eeeeee;
}

.classicGridPersonCol {
  width: 6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-right: 0.0625rem solid #eeeeee;
}

.classicGridCell, .classicGridPersonName, .classicGridDate, .classicGridMonthName {
  flex: 1;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
}

.classicGridPersonName {
  border-bottom: 0.0625rem solid #eeeeee;
  flex: 1.6;
  overflow: hidden;
  font-size: 1.1rem;
}

.classicGridMonthName {
  border-bottom: 0.0625rem solid #eeeeee;
  flex: 1.6;
  font-size: 1.1rem;
}

.classicGridCell {
  border-bottom: 0.0625rem solid #eeeeee;
}
.classicGridCell.weekend {
  background-color: #eaf7ff;
}
.classicGridCell:hover {
  background-color: #898989;
  color: #fff;
}

.classicGridDate {
  border-bottom: 0.0625rem solid #eeeeee;
}
.classicGridDate.weekend {
  background-color: #eaf7ff;
}

aside {
  flex-basis: 19rem;
  background-color: #fff;
  display: inline-block;
  border-right: 0.0125rem solid #ddd;
  border-left: 0.0125rem solid #ddd;
  height: 10.09rem;
}
aside .calendarSelect button {
  width: 100%;
  background-color: #fff;
  font-size: 1.8rem;
  border: none;
  padding-bottom: 0.1rem;
}
aside .calendarSelect ul {
  list-style-type: none;
  margin: 0.3125rem 0 0 0;
  padding: 0 0 0 1.8rem;
}
aside .calendarSelect ul li {
  display: inline-block;
  width: 5rem;
  margin-bottom: 0.16rem;
}
aside .calendarSelect ul li .calendarChoice {
  background-color: #ffffff;
  border: 0.125rem solid #ddd;
  border-radius: 0.12rem;
  width: 100%;
  padding: 0.2rem;
  font-size: 0.8333rem;
}
aside .calendarSelect ul li .calendarChoice.active {
  border-color: teal;
  background-color: teal;
  color: #ffffff;
}
aside .calendarSelect ul li .calendarChoice:hover {
  border-color: navy;
  background-color: navy;
  color: #ffffff;
}
aside .supportingInfo {
  background-color: #ddd;
  height: 45.51rem;
}
aside .supportingInfo .switchBtn {
  width: 100%;
  height: 3rem;
  border: 0.0625rem solid #000;
  background-color: #333;
  color: #fff;
  text-align: left;
  font-size: 1.2em;
}
aside .supportingInfo .switchBtn i {
  font-size: 0.8rem;
  right: 0.8rem;
  float: right;
  margin-top: 0.3rem;
}
aside .supportingInfo .switchBtn:hover {
  color: #b2001d;
}
aside .supportingInfo .shiftComponent {
  height: 8rem;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
aside .supportingInfo .shiftComponent.closed {
  height: 0;
}
aside .supportingInfo .shiftComponent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
aside .supportingInfo .shiftComponent ul li {
  display: inline;
}
aside .supportingInfo .shiftComponent ul li .shiftBtn {
  height: 2rem;
  background-color: #f2f2f2;
  border: 0.125rem solid #f2f2f2;
  margin: 0.12rem 0.12rem 0.12rem;
}
aside .supportingInfo .shiftComponent ul li .shiftBtn.active {
  width: 5rem;
  background-color: #fff;
  border-color: #b2001d;
  font-size: 1.1rem;
}
aside .supportingInfo .shiftComponent ul li .shiftBtn:hover {
  border-color: #b2001d;
}
aside .supportingInfo .shiftComponent ul li .shiftBtn.none {
  display: none;
}

.classicAside {
  height: 55.6rem;
  border: none;
}

.classicSupportingInfo {
  background-color: #ddd;
  height: 55.6rem;
}
.classicSupportingInfo .switchBtn {
  width: 100%;
  height: 3rem;
  border: 0.0625rem solid #000;
  background-color: #333;
  color: #fff;
  text-align: left;
  font-size: 1.2em;
}
.classicSupportingInfo .switchBtn i {
  font-size: 0.8rem;
  right: 0.8rem;
  float: right;
  margin-top: 0.3rem;
  transition: all 0.35s ease-in-out;
  transform: rotate(180deg);
}
.classicSupportingInfo .switchBtn i.rotated {
  transform: rotate(0deg);
}
.classicSupportingInfo .switchBtn:hover {
  color: #b2001d;
}
.classicSupportingInfo .shiftComponent {
  height: 11.5rem;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
.classicSupportingInfo .shiftComponent.closed {
  height: 0;
}
.classicSupportingInfo .shiftComponent ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.classicSupportingInfo .shiftComponent ul li {
  display: inline;
}
.classicSupportingInfo .shiftComponent ul li .shiftBtn {
  height: 2rem;
  background-color: #f2f2f2;
  border: 0.125rem solid #f2f2f2;
  margin: 0.12rem 0.12rem 0.12rem;
}
.classicSupportingInfo .shiftComponent ul li .shiftBtn.active {
  width: 5rem;
  background-color: #fff;
  border-color: #b2001d;
  font-size: 1.1rem;
}
.classicSupportingInfo .shiftComponent ul li .shiftBtn:hover {
  border-color: #b2001d;
}
.classicSupportingInfo .shiftComponent ul li .shiftBtn.none {
  display: none;
}
.classicSupportingInfo .conflictsComponent {
  height: 7.5rem;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
.classicSupportingInfo .conflictsComponent.closed {
  height: 0;
}
.classicSupportingInfo .statsComponent {
  height: 7.5rem;
  transition: height 0.35s ease-in-out;
  overflow: hidden;
}
.classicSupportingInfo .statsComponent.closed {
  height: 0;
}

/*# sourceMappingURL=styles/styles.css.map */
