//variables
////colors
$red: #b2001d
$white: #fff
$dark-grey: #333
$medium-grey: #898989
$light-grey: #dddddd
$olive-black: #19200E
$dark-olive: #33401C
$olive: #556B2F
$light-olive: #88976D
$olive-grey: #EEF0EA
$beans: #3d0000
$dark-ruby: #8f0000
$ruby: #CD0000
$light-ruby: #dc4c4c
$vashti: #fae5e5
$weekend-blue: #eaf7ff

html
  height: 100%
  width: 100%
  font-size: 16px
  font-family: 'Open Sans', sans-serif
  margin: 0
  padding: 0
  background-color: #fff
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: flex-start


body 
  margin: 0
  padding: 0
  height: 90rem
  width: 94rem
  background-color: #fff


section, aside 
  margin: 0
  padding: 0

main
  height: 85.6rem
  width: 100%
  display: flex
  flex-direction: row
  justify-content: flex-start
  align-items: flex-start

@import header
@import grid
@import rightMenus