html {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 94rem;
  background-color: #fff;
}

section, aside {
  margin: 0;
  padding: 0;
}
